{
  "presets": [["es2015", {"modules": false}], "react"],
  "plugins": ["async-to-promises", "transform-object-rest-spread"],
  "env": {
    "dev": {
      "presets": ["react-hmre"]
    },
    "test": {
      "presets": ["es2015"]
    }
  }
}
