{
  "presets": [["es2015", {"modules": false}], "react"],
  "plugins": ["transform-async-to-generator", "transform-object-rest-spread"],
  "env": {
    "dev": {
      "presets": ["react-hmre"]
    },
    "test": {
      "presets": ["es2015"]
    }
  }
}
